<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Second page here...</title>
</head>
<body>

     <img th:src="@{images/81jIHUkLWWL._AC_SX466_.jpg}"/>
     <!--<h2 th:text="${try}">placeholder message</h2>-->

     <h3>Records:</h3>
     <div th:each="records : ${records}">
         <h4>Date of persistence: <span th:text="${records.date}">DATE</span></h4>
         <h4>Your record:</h4>
         <span th:text="${records.records}">RECORD</span><br/>
         <h4>Id of entry: <span th:text="${records.id}">ID</span></h4>

     </div><br/>

     <h3 th:text="${re}">placeholder message</h3>
</body>
</html>